form:not(.ekklesia-beo-form).pf-c-form .pf-c-form__group:nth-of-type(3), form:not(.ekklesia-beo-form).pf-c-form .pf-c-form__group:nth-of-type(4) {
  display:none;
}

div.ekklesia-sync-state-values {
  padding-top: 2.5rem;
}

#add-matrix-btn {
  margin-top: 5px;
}
