.navbar-title {
  height: 40px;
  background-size: contain;
}

.btn-primary {
  background-color: hsl(36, 100%, 50%);
  background-image: linear-gradient(to bottom, hsl(36, 100%, 63%) 0, hsl(36, 100%, 50%) 100%);
  border-color: hsl(36, 100%, 58%);
}

.btn-primary.active, .btn-primary:active, .btn-primary:focus, .btn-primary:hover, .btn-primary:active:hover {
  background-color: hsl(36, 100%, 50%);
  background-image: none;
  border-color: hsl(36, 100%, 58%);
}

.form-control:hover {
  border-color: hsl(36, 100%, 70%);
}

.form-control:focus {
  border-color: hsl(36, 100%, 58%);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px hsla(36, 100%, 58%, 0.6);
}

a {
  color: hsl(36, 100%, 36%);
}

a:hover, a:focus {
  color: hsl(36, 100%, 30%);
}

.navbar-pf {
  border-top: 3px solid hsl(36, 100%, 39.6%);
}

.bs-sidebar ul li a {
  color: rgb(88, 83, 77);
}

.bs-sidebar ul li.active a {
  background-color: hsl(36, 100%, 81.2%);
  border-color: hsl(36, 100%, 66%);
}

.navbar-pf .navbar-utility > li a {
  padding-bottom: 18px;
  padding-top: 17px;
  font-size: 14px;
  line-height: 14px;
}

.navbar-pf .navbar-utility {
  top: -50px;
}

.navbar-pf .navbar-utility .kc-dropdown > a::after {
  vertical-align: text-bottom;
}

.alert.alert-info {
  background-color: hsl(36, 100%, 91.2%);
  border-color: hsl(36, 100%, 76.5%);
}

.pficon-ok::before {
  color: hsl(36, 100%, 45%)
}

.kc-dropdown ul li a:hover {
  background-color: hsl(36, 100%, 80%);
  border-color: hsl(36, 100%, 70%);
}
